<ion-tabs class="tabs-default tabs-icon-top">

    <ion-tab title="{{ 'TAB_HOME' | translate }}" icon-on="ion-ios7-speedometer" icon-off="ion-ios7-speedometer-outline" ui-sref="tab.home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>

    <ion-tab title="{{ 'TAB_ALARM' | translate }}" icon-on="icon ion-ios7-alarm" icon-off="icon ion-ios7-alarm-outline" ui-sref="tab.alarm">
        <ion-nav-view name="tab-alarm"></ion-nav-view>
    </ion-tab>

    <ion-tab title="{{ 'TAB_HELP' | translate }}" icon-on="icon ion-ios7-help" icon-off="icon ion-ios7-help-outline" ui-sref="tab.help">
        <ion-nav-view name="tab-help"></ion-nav-view>
    </ion-tab>

</ion-tabs>

